---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/in/rafael-andres-rossel-galarza-47b8bb214/',

	},
	{
		title: 'Facebook',
		icon: 'cib:facebook',
		href: 'https://www.facebook.com/rafaelandres.rosselgalarza',

	},
	{
		title: 'GitHub',
		icon: 'ant-design:github-filled',
		href: 'https://github.com/RafaredD19',

	},
	{
		title: 'GitLab',
		icon: 'uim:gitlab-alt',
		href: 'https://gitlab.com/rosselgalarzarafael',

	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: '../docs/RosselGalarza_RafaelAndres_CV_2024.pdf',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.GitHub:hover{
	color: #3b3b3b;
	}
	.Facebook:hover{
	color: #0a55f6;
	}
	.CV:hover{
		color:#8e64ff;
	}
	.GitLab:hover{
		color: #d8900b
	}



</style>