---
import terminalIcon from './terminal-icon.module.css';
interface Props {
	name: string;
	src: string;
	
}
const { name, src } = Astro.props;
---

<div class={terminalIcon.base}>
	<div class={terminalIcon.icon} style={`--icon-url: url(${src})`}></div>
	<span class={terminalIcon.name}>{name}</span>
</div>
